<launch>
    <!-- <include file="$(find objdt)/launch/apriltag_track.launch" /> -->

    <!-- <arg name="max_lin_vel" default="1500"/> -->

    <node pkg="rostopic" type="rostopic" name="rostopic_left" args="pub /motor/left/target std_msgs/Float32 0.0"/>
    <node pkg="rostopic" type="rostopic" name="rostopic_right" args="pub /motor/right/target std_msgs/Float32 0.0"/>

    <!-- ENCODER -->
    <node pkg="motor_ctrl" type="encoder" name="encoder" ns="/encoder" output="screen"> </node>

    <!-- PID MOTOR CONTROL -->
    <node pkg="differential_drive" type="pid_velocity.py" name="pid_left" ns="/motor/left" output="screen">
        <!-- <param name="max_lin_vel" value="$(arg max_lin_vel)" /> -->
        <remap from="wheel" to="/encoder/left" />
        <remap from="wheel_vtarget" to="/motor/left/target" />
    </node>
    <node pkg="differential_drive" type="pid_velocity.py" name="pid_right" ns="/motor/right" output="screen">
        <!-- <param name="max_lin_vel" value="$(arg max_lin_vel)" /> -->
        <remap from="wheel" to="/encoder/right" />
        <remap from="wheel_vtarget" to="/motor/right/target" />
    </node>

    <!-- MOTOR CONTROLLERS -->
    <node pkg="motor_ctrl" type="motor" name="motor" ns="/motor" output="screen"> </node>

    <node pkg="differential_drive" type="diff_tf.py" name="diff_tf" ns="/motor" output="screen">
        <!-- <param name="max_lin_vel" value="$(arg max_lin_vel)" /> -->
        <remap from="lwheel" to="/encoder/left" />
        <remap from="rwheel" to="/encoder/right" />
    </node>

</launch>